.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  margin: auto;
  text-align: center;
}

.navBar {
  margin: 15px;
  margin-bottom: 30px;
}

.navBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar li{
  display: inline;
  padding: 8px;
  background-color: #f1efef;
}

.passSelect {

  text-align: left;
}

.passSelect h4 {
  margin-left: 20px;
  text-decoration: underline;
}

.passengerPage {

  margin: 10px;
}

table {
  
  table-layout: fixed;
  

}
  
th {
  border-bottom: 1px solid black;
  
}
  
td {
  text-align: center;
  
}

.selectedTrain {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: auto;
  padding: 0 0 14px 0;
  width: 396px;
}

.selectedTrain li {
  text-align: left;
}

.selectedTrain h2 h3 {
  text-align: left;
  margin: auto;
  padding: 15px 0 0 15px;
  text-decoration: underline;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin:auto;
  width: 25%;
  margin-top: 10%;
}